Dưới đây là dataset hosts.csv (các host - khách sạn/nhà/phòng) của dịch vụ Airbnb (cho thuê phòng/nhà). Mỗi mẫu tin chứa các thông tin về vị trí (kinh, vĩ độ); số lượng nhà/phòng của host; số lượng phòng ngủ, giường ngủ tương ứng với nhà/phòng; loại nhà/phòng; và dịch vụ TV.

- Loại nhà/phòng có các kiểu: Entire home/apartment, Hotel room, Private Room.

- Loại dịch vụ TV thì có kích cỡ TV (24 inch, ..., 85 inch); loại TV (TV, HDTV); dịch vụ trên tivi như Amazon Prime Video, Netflix, ...

Các em có nhiệm vụ làm sạch và biến đổi dữ liệu để tránh dư thừa dữ liệu: dịch vụ TV.

Sau đó, dựa vào các bảng (dataframe) đã phân rã, hãy tìm các host (thông tin về vị trí, số lượng phòng, loại phòng, ..) có dịch vụ TV là Disney+.

In [9]:
import pandas as pd

In [10]:
hosts = pd.read_csv('hosts.csv')

In [11]:
hosts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137919 entries, 0 to 137918
Columns: 123 entries, Unnamed: 0 to 82" HDTV with Disney+
dtypes: float64(4), int64(119)
memory usage: 129.4 MB

In [12]:
hosts.head()

,Unnamed: 0,id,latitude,longitude,accommodates,bedrooms,beds,price,Entire home/apt,Hotel room,...,"60"" HDTV with standard cable.1","64"" HDTV with Roku","65"" HDTV with Amazon Prime Video","65"" HDTV with Roku","65"" HDTV with standard cable","65"" TV with Netflix","70"" HDTV with Amazon Prime Video","70"" TV with Amazon Prime Video","75"" HDTV with standard cable","82"" HDTV with Disney+"
0,0,3314819.0,35.49233,-82.51495,3,1,1,47.0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108061.0,35.60562,-82.55512,2,1,1,100.0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,155305.0,35.57864,-82.59578,2,1,1,100.0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,6,209068.0,35.61736,-82.55074,4,1,2,95.0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,8,259576.0,35.61966,-82.48065,2,1,1,83.0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
hosts.drop([hosts.columns[0]], axis=1, inplace=True)

In [14]:
for col in hosts.columns:
    print(col)

id
latitude
longitude
accommodates
bedrooms
beds
price
Entire home/apt
Hotel room
Private room
24" HDTV with Amazon Prime Video
25" HDTV with DVD player
25" HDTV with Roku
27" TV
28" HDTV with Fire TV
30" HDTV with HBO Max
30" HDTV with Netflix
30" HDTV
30" TV
32" HDTV with Amazon Prime Video
32" HDTV with Fire TV
32" HDTV with Hulu
32" HDTV with Netflix
32" HDTV with Netflix.1
32" HDTV with Roku
32" HDTV
32" TV with Amazon Prime Video
32" TV with Roku
32" TV
34" TV
35" TV with Roku
36" HDTV with Amazon Prime Video
36" HDTV with DVD player
36" HDTV
38" HDTV with Netflix
38" TV with Fire TV
38" TV with Roku
39" HDTV with Netflix
40" HDTV with Amazon Prime Video
40" HDTV with Roku
40" HDTV with Roku.1
40" HDTV with premium cable
40" TV with Netflix
42" HDTV with Amazon Prime Video
42" HDTV with Chromecast
42" HDTV with DVD player
42" HDTV with Disney+
42" HDTV with Hulu
42" HDTV with Netflix
42" HDTV with Netflix.1
42" HDTV with Roku
42" HDTV with Roku.1
42" HDTV with premium cable
42" HDTV with standard cable
42" TV with Roku
43" HDTV with Amazon Prime Video
43" HDTV with HBO Max
43" HDTV with Netflix
43" HDTV with Roku
43" HDTV
43" TV with Fire TV
43" TV with Netflix
43" TV with Roku
44" HDTV with Apple TV
44" HDTV with standard cable
44" TV with standard cable
45" HDTV with Amazon Prime Video
46" HDTV with Apple TV
47" HDTV with Amazon Prime Video
47" HDTV with Roku
48" HDTV with Amazon Prime Video
48" HDTV with Chromecast
48" HDTV with Disney+
48" HDTV with Netflix
48" HDTV with standard cable
50" HDTV with Amazon Prime Video
50" HDTV with Amazon Prime Video.1
50" HDTV with Apple TV
50" HDTV with Chromecast
50" HDTV with Hulu
50" HDTV with Netflix
50" HDTV with Netflix.1
50" HDTV with Roku
50" HDTV with standard cable
50" HDTV with standard cable.1
50" HDTV
50" TV with Amazon Prime Video
50" TV with Chromecast
50" TV with Netflix
52" HDTV with Amazon Prime Video
54" HDTV with Amazon Prime Video
55" HDTV with Amazon Prime Video
55" HDTV with Apple TV
55" HDTV with Apple TV.1
55" HDTV with Chromecast
55" HDTV with Disney+
55" HDTV with Hulu
55" HDTV with Netflix
55" HDTV with Netflix.1
55" HDTV with Roku
55" HDTV with Roku.1
55" HDTV with premium cable
55" HDTV with standard cable
55" HDTV
55" TV with Amazon Prime Video
55" TV with standard cable
55" TV
56" HDTV with Apple TV
60" HDTV with Amazon Prime Video
60" HDTV with Apple TV
60" HDTV with Roku
60" HDTV with standard cable
60" HDTV with standard cable.1
64" HDTV with Roku
65" HDTV with Amazon Prime Video
65" HDTV with Roku
65" HDTV with standard cable
65" TV with Netflix
70" HDTV with Amazon Prime Video
70" TV with Amazon Prime Video
75" HDTV with standard cable
82" HDTV with Disney+

In [15]:
hosts_short = pd.read_csv('hosts-short.csv')
hosts_short

,latitude,longitude,accommodates,bedrooms,beds,price,Entire home/apt,Hotel room,Private room,"24"" HDTV with Amazon Prime Video",...,"60"" HDTV with standard cable.1","64"" HDTV with Roku","65"" HDTV with Amazon Prime Video","65"" HDTV with Roku","65"" HDTV with standard cable","65"" TV with Netflix","70"" HDTV with Amazon Prime Video","70"" TV with Amazon Prime Video","75"" HDTV with standard cable","82"" HDTV with Disney+"
0,35.49233,-82.51495,3,1,1,47,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,35.60562,-82.55512,2,1,1,100,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,35.57864,-82.59578,2,1,1,100,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,35.61736,-82.55074,4,1,2,95,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,35.61966,-82.48065,2,1,1,83,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35.59524,-82.55219,4,1,3,322,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,35.59524,-82.55219,4,1,2,254,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,35.59524,-82.55219,4,1,2,255,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,35.58513,-82.56097,8,3,4,265,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,35.56899,-82.61216,4,1,2,106,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
tv_cols = [col for col in hosts.columns if 'TV' in col or 'HDTV' in col]
tv_cols

['24" HDTV with Amazon Prime Video',
 '25" HDTV with DVD player',
 '25" HDTV with Roku',
 '27" TV',
 '28" HDTV with Fire TV',
 '30" HDTV with HBO Max',
 '30" HDTV with Netflix',
 '30" HDTV',
 '30" TV',
 '32" HDTV with Amazon Prime Video',
 '32" HDTV with Fire TV',
 '32" HDTV with Hulu',
 '32" HDTV with Netflix',
 '32" HDTV with Netflix.1',
 '32" HDTV with Roku',
 '32" HDTV',
 '32" TV with Amazon Prime Video',
 '32" TV with Roku',
 '32" TV',
 '34" TV',
 '35" TV with Roku',
 '36" HDTV with Amazon Prime Video',
 '36" HDTV with DVD player',
 '36" HDTV',
 '38" HDTV with Netflix',
 '38" TV with Fire TV',
 '38" TV with Roku',
 '39" HDTV with Netflix',
 '40" HDTV with Amazon Prime Video',
 '40" HDTV with Roku',
 '40" HDTV with Roku.1',
 '40" HDTV with premium cable',
 '40" TV with Netflix',
 '42" HDTV with Amazon Prime Video',
 '42" HDTV with Chromecast',
 '42" HDTV with DVD player',
 '42" HDTV with Disney+',
 '42" HDTV with Hulu',
 '42" HDTV with Netflix',
 '42" HDTV with Netflix.1',
 '42" HDTV with Roku',
 '42" HDTV with Roku.1',
 '42" HDTV with premium cable',
 '42" HDTV with standard cable',
 '42" TV with Roku',
 '43" HDTV with Amazon Prime Video',
 '43" HDTV with HBO Max',
 '43" HDTV with Netflix',
 '43" HDTV with Roku',
 '43" HDTV',
 '43" TV with Fire TV',
 '43" TV with Netflix',
 '43" TV with Roku',
 '44" HDTV with Apple TV',
 '44" HDTV with standard cable',
 '44" TV with standard cable',
 '45" HDTV with Amazon Prime Video',
 '46" HDTV with Apple TV',
 '47" HDTV with Amazon Prime Video',
 '47" HDTV with Roku',
 '48" HDTV with Amazon Prime Video',
 '48" HDTV with Chromecast',
 '48" HDTV with Disney+',
 '48" HDTV with Netflix',
 '48" HDTV with standard cable',
 '50" HDTV with Amazon Prime Video',
 '50" HDTV with Amazon Prime Video.1',
 '50" HDTV with Apple TV',
 '50" HDTV with Chromecast',
 '50" HDTV with Hulu',
 '50" HDTV with Netflix',
 '50" HDTV with Netflix.1',
 '50" HDTV with Roku',
 '50" HDTV with standard cable',
 '50" HDTV with standard cable.1',
 '50" HDTV',
 '50" TV with Amazon Prime Video',
 '50" TV with Chromecast',
 '50" TV with Netflix',
 '52" HDTV with Amazon Prime Video',
 '54" HDTV with Amazon Prime Video',
 '55" HDTV with Amazon Prime Video',
 '55" HDTV with Apple TV',
 '55" HDTV with Apple TV.1',
 '55" HDTV with Chromecast',
 '55" HDTV with Disney+',
 '55" HDTV with Hulu',
 '55" HDTV with Netflix',
 '55" HDTV with Netflix.1',
 '55" HDTV with Roku',
 '55" HDTV with Roku.1',
 '55" HDTV with premium cable',
 '55" HDTV with standard cable',
 '55" HDTV',
 '55" TV with Amazon Prime Video',
 '55" TV with standard cable',
 '55" TV',
 '56" HDTV with Apple TV',
 '60" HDTV with Amazon Prime Video',
 '60" HDTV with Apple TV',
 '60" HDTV with Roku',
 '60" HDTV with standard cable',
 '60" HDTV with standard cable.1',
 '64" HDTV with Roku',
 '65" HDTV with Amazon Prime Video',
 '65" HDTV with Roku',
 '65" HDTV with standard cable',
 '65" TV with Netflix',
 '70" HDTV with Amazon Prime Video',
 '70" TV with Amazon Prime Video',
 '75" HDTV with standard cable',
 '82" HDTV with Disney+']

In [18]:
bmelt = hosts.melt(
    id_vars=['id','latitude','longitude','accommodates','bedrooms','beds','price'],
    value_vars=tv_cols,
    var_name='tv_feature',
    value_name='has_feature'
)

bmelt

,id,latitude,longitude,accommodates,bedrooms,beds,price,tv_feature,has_feature
0,3.314819e+06,35.492330,-82.514950,3,1,1,47.0,"24"" HDTV with Amazon Prime Video",0
1,1.080610e+05,35.605620,-82.555120,2,1,1,100.0,"24"" HDTV with Amazon Prime Video",0
2,1.553050e+05,35.578640,-82.595780,2,1,1,100.0,"24"" HDTV with Amazon Prime Video",0
3,2.090680e+05,35.617360,-82.550740,4,1,2,95.0,"24"" HDTV with Amazon Prime Video",0
4,2.595760e+05,35.619660,-82.480650,2,1,1,83.0,"24"" HDTV with Amazon Prime Video",0
...,...,...,...,...,...,...,...,...,...
15446923,9.690900e+17,38.932292,-77.022543,4,3,3,350.0,"82"" HDTV with Disney+",0
15446924,9.693570e+17,38.862523,-76.984518,4,2,2,153.0,"82"" HDTV with Disney+",0
15446925,9.709530e+17,38.955890,-77.014931,3,1,1,175.0,"82"" HDTV with Disney+",0
15446926,9.733390e+17,38.834600,-76.999090,10,3,3,101.0,"82"" HDTV with Disney+",0
15446927,9.754270e+17,38.884810,-76.957800,4,2,3,104.0,"82"" HDTV with Disney+",0

In [23]:
bmelt = bmelt[bmelt['has_feature'] == 1]
print("Number of rows after filtering:", len(bmelt))
bmelt

Number of rows after filtering: 748

,id,latitude,longitude,accommodates,bedrooms,beds,price,tv_feature,has_feature
1885,7.123500e+17,35.603630,-82.556404,4,2,2,166.0,"24"" HDTV with Amazon Prime Video",1
8763,8.784990e+17,30.361796,-97.661940,8,4,4,121.0,"24"" HDTV with Amazon Prime Video",1
13098,3.318975e+07,26.303250,-80.078000,6,2,3,194.0,"24"" HDTV with Amazon Prime Video",1
19871,8.037340e+17,26.283140,-80.116910,8,4,5,240.0,"24"" HDTV with Amazon Prime Video",1
38079,5.677540e+17,32.784510,-96.779710,4,1,1,103.0,"24"" HDTV with Amazon Prime Video",1
...,...,...,...,...,...,...,...,...,...
15112759,5.249965e+07,34.189100,-118.433760,2,1,1,138.0,"70"" TV with Amazon Prime Video",1
15191162,8.203720e+17,25.981252,-80.122266,6,2,4,150.0,"75"" HDTV with standard cable",1
15224860,4.707953e+07,21.278420,-157.832040,2,1,2,280.0,"75"" HDTV with standard cable",1
15267269,2.995209e+06,40.771410,-73.957390,2,1,1,115.0,"75"" HDTV with standard cable",1
15366827,5.542900e+17,21.285160,-157.837950,4,1,2,212.0,"82"" HDTV with Disney+",1

In [25]:
hosts_disney = bmelt[bmelt['tv_feature'].apply(lambda x: 'Disney' in x)]
print("Number of rows with Disney feature:", len(hosts_disney))
hosts_disney

Number of rows with Disney feature: 10

,id,latitude,longitude,accommodates,bedrooms,beds,price,tv_feature,has_feature
5064828,4.946846e+07,40.684930,-73.942410,4,1,2,196.0,"42"" HDTV with Disney+",1
8572697,9.527540e+17,26.008056,-80.186303,10,3,6,325.0,"48"" HDTV with Disney+",1
8607001,5.136908e+07,20.952180,-156.686020,4,1,2,179.0,"48"" HDTV with Disney+",1
11739027,5.259978e+07,26.127644,-80.104529,4,1,2,106.0,"55"" HDTV with Disney+",1
11749384,8.559700e+17,41.747041,-87.558077,7,4,4,350.0,"55"" HDTV with Disney+",1
11754087,5.776850e+17,36.101830,-115.072430,13,5,7,600.0,"55"" HDTV with Disney+",1
11795476,5.341923e+07,33.997500,-118.477310,2,1,1,114.0,"55"" HDTV with Disney+",1
11811089,8.507510e+17,36.174374,-86.790076,2,1,1,146.0,"55"" HDTV with Disney+",1
11845543,9.152830e+17,37.789147,-122.445042,5,3,3,886.0,"55"" HDTV with Disney+",1
15366827,5.542900e+17,21.285160,-157.837950,4,1,2,212.0,"82"" HDTV with Disney+",1