## 3.7 Plot Categorical Variables

Standard imports

In [1]:
import numpy as np
import scipy.stats
import pandas as pd

In [2]:
import matplotlib
import matplotlib.pyplot as pp

import pandas.plotting

from IPython import display
from ipywidgets import interact, widgets

%matplotlib inline

In [3]:
import re
import mailbox
import csv

In [4]:
smoking = pd.read_csv('whickham.csv')

In [5]:
smoking.head()

  outcome smoker  age
0   Alive    Yes   23
1   Alive    Yes   18
2    Dead    Yes   71
3   Alive     No   67
4   Alive     No   64

In [6]:
smoking['ageGroup'] = pd.cut(smoking.age,[0,30,40,53,64],labels=['0-30','30-40','40-53','53-64'])

In [7]:
bysmoker = smoking.groupby("smoker").outcome.value_counts(normalize=True)

In [8]:
byage = smoking.groupby(['ageGroup','smoker']).outcome.value_counts(normalize=True)

/tmp/ipykernel_1484091/3658500534.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  byage = smoking.groupby(['ageGroup','smoker']).outcome.value_counts(normalize=True)

In [9]:
bysmoker

smoker  outcome
No      Alive      0.685792
        Dead       0.314208
Yes     Alive      0.761168
        Dead       0.238832
Name: proportion, dtype: float64

In [10]:
byage

ageGroup  smoker  outcome
0-30      No      Alive      0.981818
                  Dead       0.018182
          Yes     Alive      0.975610
                  Dead       0.024390
30-40     No      Alive      0.955224
                  Dead       0.044776
          Yes     Alive      0.940678
                  Dead       0.059322
40-53     No      Alive      0.876106
                  Dead       0.123894
          Yes     Alive      0.802395
                  Dead       0.197605
53-64     No      Alive      0.669291
                  Dead       0.330709
          Yes     Alive      0.580645
                  Dead       0.419355
Name: proportion, dtype: float64

In [11]:
smoking.outcome.value_counts(normalize=True).plot(kind='bar', color=['C0','C3'])

In [12]:
pp.figure(figsize=(10,3))
pp.subplot(1,2,1); pp.title('outcome'); smoking.outcome.value_counts().plot(kind='bar', color=['C0','C1'])
pp.subplot(1,2,2); pp.title('smoker'); smoking.smoker.value_counts().plot(kind='bar', color=['C2','C3'])

In [13]:
pp.figure(figsize=(10,4))
pp.subplot(1,2,1); pp.title('outcome'); smoking.outcome.value_counts().plot(kind='barh', color=['C0','C1'])
pp.subplot(1,2,2); pp.title('smoker'); smoking.smoker.value_counts().plot(kind='barh', color=['C0','C1'])

In [14]:
pp.figure(figsize=(10,4))
pp.subplot(1,2,1); smoking.outcome.value_counts().plot(kind='pie'); pp.title('outcome')
pp.subplot(1,2,2); smoking.smoker.value_counts().plot(kind='pie'); pp.title('smoker')

Text(0.5, 1.0, 'smoker')

In [15]:
bysmoker

smoker  outcome
No      Alive      0.685792
        Dead       0.314208
Yes     Alive      0.761168
        Dead       0.238832
Name: proportion, dtype: float64

The way the labels are set up reflects the multi index of the bysmoker object.

In [16]:
bysmoker.plot(kind='bar', color=['C0','C1', 'C2', 'C3'])

In [17]:
bysmoker.unstack()

outcome     Alive      Dead
smoker
No       0.685792  0.314208
Yes      0.761168  0.238832

In [18]:
bysmoker.unstack().plot(kind='bar')

In [19]:
bysmoker.unstack().plot(kind='bar',stacked=True)

In [20]:
byage

ageGroup  smoker  outcome
0-30      No      Alive      0.981818
                  Dead       0.018182
          Yes     Alive      0.975610
                  Dead       0.024390
30-40     No      Alive      0.955224
                  Dead       0.044776
          Yes     Alive      0.940678
                  Dead       0.059322
40-53     No      Alive      0.876106
                  Dead       0.123894
          Yes     Alive      0.802395
                  Dead       0.197605
53-64     No      Alive      0.669291
                  Dead       0.330709
          Yes     Alive      0.580645
                  Dead       0.419355
Name: proportion, dtype: float64

In [21]:
byage.unstack()

outcome             Alive      Dead
ageGroup smoker
0-30     No      0.981818  0.018182
         Yes     0.975610  0.024390
30-40    No      0.955224  0.044776
         Yes     0.940678  0.059322
40-53    No      0.876106  0.123894
         Yes     0.802395  0.197605
53-64    No      0.669291  0.330709
         Yes     0.580645  0.419355

In [22]:
byage.unstack().plot(kind='bar',stacked=True)

In [23]:
byage.unstack().drop("Dead",axis=1).unstack()

outcome      Alive
smoker          No       Yes
ageGroup
0-30      0.981818  0.975610
30-40     0.955224  0.940678
40-53     0.876106  0.802395
53-64     0.669291  0.580645

In [24]:
byage2 = byage.unstack().drop("Dead",axis=1).unstack()

byage2.columns = ["No","Yes"]
byage2.columns.name = "smoker"

In [25]:
byage2

smoker          No       Yes
ageGroup
0-30      0.981818  0.975610
30-40     0.955224  0.940678
40-53     0.876106  0.802395
53-64     0.669291  0.580645

In [26]:
byage2.plot(kind='bar')