## 3.4 Plots of Two Quantitative Variables

Standard imports

In [1]:
import numpy as np
import scipy.stats
import pandas as pd

In [2]:
import matplotlib
import matplotlib.pyplot as pp

from IPython import display
from ipywidgets import interact, widgets

%matplotlib inline

In [3]:
import re
import mailbox
import csv

In [4]:
gapminder = pd.read_csv('gapminder.csv')

In [5]:
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14740 entries, 0 to 14739
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           14740 non-null  object
 1   year              14740 non-null  int64
 2   region            14740 non-null  object
 3   population        14740 non-null  float64
 4   life_expectancy   14740 non-null  float64
 5   age5_surviving    14740 non-null  float64
 6   babies_per_woman  14740 non-null  float64
 7   gdp_per_capita    14740 non-null  float64
 8   gdp_per_day       14740 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 1.0+ MB

In [6]:
italy = gapminder[gapminder.country == "Italy"]

In [7]:
italy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 6397 to 6477
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           81 non-null     object
 1   year              81 non-null     int64
 2   region            81 non-null     object
 3   population        81 non-null     float64
 4   life_expectancy   81 non-null     float64
 5   age5_surviving    81 non-null     float64
 6   babies_per_woman  81 non-null     float64
 7   gdp_per_capita    81 non-null     float64
 8   gdp_per_day       81 non-null     float64
dtypes: float64(6), int64(1), object(2)
memory usage: 6.3+ KB

In [8]:
italy.head()

,country,year,region,population,life_expectancy,age5_surviving,babies_per_woman,gdp_per_capita,gdp_per_day
6397,Italy,1800,Europe,18822234.0,29.69,54.259,5.47,2225.0,6.091718
6398,Italy,1810,Europe,19491674.0,29.69,54.395,5.47,2371.0,6.491444
6399,Italy,1820,Europe,20341608.0,29.69,54.531,5.47,2474.0,6.773443
6400,Italy,1830,Europe,21529667.0,29.69,54.667,5.47,2471.0,6.765229
6401,Italy,1840,Europe,22956667.0,29.69,54.804,5.47,2524.0,6.910335

In [9]:
italy[italy.year>=1990]

,country,year,region,population,life_expectancy,age5_surviving,babies_per_woman,gdp_per_capita,gdp_per_day
6452,Italy,1990,Europe,57007577.0,77.0,99.04,1.30,30746.0,84.177960
6453,Italy,1991,Europe,57029614.0,77.0,99.07,1.29,31198.0,85.415469
6454,Italy,1992,Europe,57062760.0,77.3,99.11,1.28,31437.0,86.069815
6455,Italy,1993,Europe,57097411.0,77.6,99.15,1.26,31149.0,85.281314
6456,Italy,1994,Europe,57119163.0,77.8,99.20,1.25,31813.0,87.099247
6457,Italy,1995,Europe,57120136.0,78.1,99.25,1.24,32731.0,89.612594
6458,Italy,1996,Europe,57091906.0,78.3,99.30,1.23,33143.0,90.740589
6459,Italy,1997,Europe,57044614.0,78.7,99.34,1.22,33733.0,92.355921
6460,Italy,1998,Europe,57010940.0,78.9,99.38,1.22,34269.0,93.823409
6461,Italy,1999,Europe,57035249.0,79.3,99.41,1.21,34798.0,95.271732
6462,Italy,2000,Europe,57147081.0,79.6,99.45,1.22,36073.0,98.762491
6463,Italy,2001,Europe,57359179.0,79.8,99.48,1.23,36692.0,100.457221
6464,Italy,2002,Europe,57655677.0,80.1,99.50,1.25,36729.0,100.558522
6465,Italy,2003,Europe,58002003.0,80.1,99.53,1.27,36622.0,100.265572
6466,Italy,2004,Europe,58348332.0,80.9,99.55,1.29,36962.0,101.196441
6467,Italy,2005,Europe,58657355.0,81.1,99.56,1.32,37130.0,101.656400
6468,Italy,2006,Europe,58918471.0,81.2,99.57,1.34,37761.0,103.383984
6469,Italy,2007,Europe,59138599.0,81.3,99.58,1.37,38125.0,104.380561
6470,Italy,2008,Europe,59319234.0,81.5,99.59,1.39,37475.0,102.600958
6471,Italy,2009,Europe,59467196.0,81.6,99.59,1.42,35260.0,96.536619
6472,Italy,2010,Europe,59588007.0,81.9,99.60,1.44,35753.0,97.886379
6473,Italy,2011,Europe,59678993.0,82.0,99.61,1.45,35901.0,98.291581
6474,Italy,2012,Europe,59737717.0,82.0,99.63,1.47,34813.0,95.312799
6475,Italy,2013,Europe,59771094.0,82.1,99.64,1.49,33827.0,92.613279
6476,Italy,2014,Europe,59788667.0,82.1,99.65,1.50,33078.0,90.562628
6477,Italy,2015,Europe,59797685.0,82.2,99.66,1.52,33297.0,91.162218

In [10]:
italy.plot.scatter("year", "population")

In [11]:
gapminder.query('country == "China"').plot.scatter("year","population")

In [12]:
gapminder.query('country == "Italy"')[60:]

,country,year,region,population,life_expectancy,age5_surviving,babies_per_woman,gdp_per_capita,gdp_per_day
6457,Italy,1995,Europe,57120136.0,78.1,99.25,1.24,32731.0,89.612594
6458,Italy,1996,Europe,57091906.0,78.3,99.30,1.23,33143.0,90.740589
6459,Italy,1997,Europe,57044614.0,78.7,99.34,1.22,33733.0,92.355921
6460,Italy,1998,Europe,57010940.0,78.9,99.38,1.22,34269.0,93.823409
6461,Italy,1999,Europe,57035249.0,79.3,99.41,1.21,34798.0,95.271732
6462,Italy,2000,Europe,57147081.0,79.6,99.45,1.22,36073.0,98.762491
6463,Italy,2001,Europe,57359179.0,79.8,99.48,1.23,36692.0,100.457221
6464,Italy,2002,Europe,57655677.0,80.1,99.50,1.25,36729.0,100.558522
6465,Italy,2003,Europe,58002003.0,80.1,99.53,1.27,36622.0,100.265572
6466,Italy,2004,Europe,58348332.0,80.9,99.55,1.29,36962.0,101.196441
6467,Italy,2005,Europe,58657355.0,81.1,99.56,1.32,37130.0,101.656400
6468,Italy,2006,Europe,58918471.0,81.2,99.57,1.34,37761.0,103.383984
6469,Italy,2007,Europe,59138599.0,81.3,99.58,1.37,38125.0,104.380561
6470,Italy,2008,Europe,59319234.0,81.5,99.59,1.39,37475.0,102.600958
6471,Italy,2009,Europe,59467196.0,81.6,99.59,1.42,35260.0,96.536619
6472,Italy,2010,Europe,59588007.0,81.9,99.60,1.44,35753.0,97.886379
6473,Italy,2011,Europe,59678993.0,82.0,99.61,1.45,35901.0,98.291581
6474,Italy,2012,Europe,59737717.0,82.0,99.63,1.47,34813.0,95.312799
6475,Italy,2013,Europe,59771094.0,82.1,99.64,1.49,33827.0,92.613279
6476,Italy,2014,Europe,59788667.0,82.1,99.65,1.50,33078.0,90.562628
6477,Italy,2015,Europe,59797685.0,82.2,99.66,1.52,33297.0,91.162218

In [13]:
italy.plot.scatter("year", "gdp_per_day", logy=True)

In [14]:
italy.plot.scatter("gdp_per_day", "life_expectancy")

In [15]:
size = np.where(italy.year % 10 == 0,50,2)
size

array([50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50,  2,
        2,  2,  2,  2,  2,  2,  2,  2, 50,  2,  2,  2,  2,  2,  2,  2,  2,
        2, 50,  2,  2,  2,  2,  2,  2,  2,  2,  2, 50,  2,  2,  2,  2,  2,
        2,  2,  2,  2, 50,  2,  2,  2,  2,  2,  2,  2,  2,  2, 50,  2,  2,
        2,  2,  2,  2,  2,  2,  2, 50,  2,  2,  2,  2,  2])

In [16]:
italy.plot.scatter("gdp_per_day", "life_expectancy", s=size)

In [17]:
data = gapminder.query('(country == "Italy") or (country == "United States")')

size = np.where(data.year % 10 == 0,30,2)
color = np.where(data.country == 'Italy','blue','orange')

data.plot.scatter("gdp_per_day", "life_expectancy", logx=True, s=size, c=color)

In [18]:
data = gapminder.query('(country == "China") or (country == "United States")')

size = np.where(data.year % 10 == 0,30,2)
color = np.where(data.country == 'China','red','orange')

ax = data.plot.scatter("gdp_per_day", "life_expectancy", s=size, c=color)

data[data.country == 'China'].plot.line(x='gdp_per_day',y='life_expectancy',ax=ax)