<h1 align="center">4.3 Sets</h1>

A set is an unordered collection of _unique_ values. Sets may contain only immutable
objects, like strings, `ints`, `floats` and tuples that contain only immutable elements.
Though sets are iterable, they are not sequences and do not support indexing and slicing
with square brackets, `[]`. Dictionaries also do not support slicing.

#### Creating a Set with Curly Braces

In [1]:
colors = {'red', 'orange', 'yellow', 'green', 'red', 'blue'}
colors

{'blue', 'green', 'orange', 'red', 'yellow'}

Notice that the duplicate string 'red' was ignored (without causing an error). An important use of sets is __duplicate elimination__, which is automatic when creating a set. Also, the
resulting set’s values are _not_ displayed in the same order.

Though the color names are displayed in sorted order, sets are _unordered_. You should not
write code that depends on the order of their elements.

#### Determining a Set’s Length

In [2]:
len(colors)

5

#### Checking Whether a Value Is in a Set

In [3]:
'red' in colors

True

In [4]:
'purple' in colors

False

In [5]:
'purple' not in colors

True

#### Iterating Through a Set

Sets are iterable, so you can process each set element with a `for` loop:

In [6]:
for color in colors:
    print(color.upper(), end=' ')

ORANGE BLUE GREEN YELLOW RED

Sets are _unordered_, so there’s no significance to the iteration order.

#### Creating a Set with the Built-In set Function

In [7]:
numbers = list(range(10)) + list(range(5))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [8]:
set(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
set()

set()

Python displays an empty set as `set()` to avoid confusion with Python’s string representation of an empty dictionary (`{}`).

Sets are _mutable_ — you can add and remove elements, but set elements must be _immutable_.
Therefore, a set cannot have other sets as elements.

## 4.3.1 Comparing Sets

In [10]:
{1, 3, 5} == {3, 5, 1}

True

In [11]:
{1, 3, 5} != {3, 5, 1}

False

In [12]:
{1, 3, 5} < {3, 5, 1}

False

In [13]:
{1, 3, 5} < {7, 3, 5, 1}

True

In [14]:
{1, 3, 5} <= {3, 5, 1}

True

In [15]:
{1, 3} <= {3, 5, 1}

True

In [16]:
{1, 3, 5}.issubset({3, 5, 1})

True

In [17]:
{1, 2}.issubset({3, 5, 1})

False

In [18]:
{1, 3, 5} > {3, 5, 1}

False

In [19]:
{1, 3, 5, 7} > {3, 5, 1}

True

In [20]:
{1, 3, 5} >= {3, 5, 1}

True

In [21]:
{1, 3, 5} >= {3, 1}

True

In [22]:
{1, 3, 5}.issuperset({3, 5, 1})

True

In [23]:
{1, 3, 5}.issuperset({3, 2})

False

The argument to `issubset` or `issuperset` can be _any_ iterable. When either of these methods receives a non-set iterable argument, it first converts the iterable to a set, then performs
the operation.

## 4.3.2 Mathematical Set Operations

#### Union

In [24]:
{1, 3, 5} | {2, 3, 4}

{1, 2, 3, 4, 5}

In [25]:
{1, 3, 5}.union([20, 20, 3, 40, 40])

{1, 3, 5, 20, 40}

The operands of the binary set operators, like |, must both be sets. 

The corresponding set methods may receive any iterable object as an argument — we passed a list. When a mathematical set method receives a non-set iterable argument, it first converts the iterable to a
set, then applies the mathematical operation.

#### Intersection

In [26]:
{1, 3, 5} & {2, 3, 4}

{3}

In [27]:
{1, 3, 5}.intersection([1, 2, 2, 3, 3, 4, 4])

{1, 3}

#### Difference

In [28]:
{1, 3, 5} - {2, 3, 4}

{1, 5}

In [29]:
{1, 3, 5, 7}.difference([2, 2, 3, 3, 4, 4])

{1, 5, 7}

#### Symmetric Difference

In [30]:
{1, 3, 5} ^ {2, 3, 4}

{1, 2, 4, 5}

In [31]:
{1, 3, 5, 7}.symmetric_difference([2, 2, 3, 3, 4, 4])

{1, 2, 4, 5, 7}

#### Disjoint

In [32]:
 {1, 3, 5}.isdisjoint({2, 4, 6})

True

In [33]:
{1, 3, 5}.isdisjoint({4, 6, 1})

False

## 4.3.3 Mutable Set Operators and Methods

The operators and methods presented in the preceding section each result in a _new_ set.
Here we discuss operators and methods that modify an _existing_ set.

#### Mutable Mathematical Set Operations

Like operator `|`, __union augmented assignment__ `|=` performs a set union operation, but `|=`
modifies its left operand:

In [34]:
numbers = {1, 3, 5}

In [35]:
numbers |= {2, 3, 4}

In [36]:
numbers

{1, 2, 3, 4, 5}

Similarly, the set type’s __update__ method performs a union operation modifying the set on
which it’s called—the argument can be any iterable:

In [39]:
numbers.update(range(10))
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

The other mutable set methods are:

    • intersection augmented assignment &=
    • difference augmented assignment -=
    • symmetric difference augmented assignment ^=

and their corresponding methods with iterable arguments are:

    • intersection_update
    • difference_update
    • symmetric_difference_update

#### Methods for Adding and Removing Elements

In [40]:
numbers.add(17)

In [41]:
numbers.add(3)

In [42]:
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [44]:
numbers.remove(3)
numbers

KeyError: 3

Method __discard__ also removes its argument from the set but does not cause an exception
if the value is not in the set.

You also can remove an _arbitrary_ set element and return it with __pop__, but sets are unordered, so you do not know which element will be returned:

In [45]:
numbers.pop()

0

A `KeyError` occurs if the set is empty when you call __pop__.

In [46]:
numbers.clear()
numbers

set()

## 4.3.4 Set Comprehensions

Like dictionary comprehensions, you define set comprehensions in curly braces.

In [47]:
numbers = [1, 2, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 10]

In [48]:
evens = {item for item in numbers if item % 2 == 0}

In [49]:
evens

{2, 4, 6, 8, 10}